.profile {
  padding-top: 40px;
  display: grid;
  grid-template-areas:
    "avatar fio edit-button add-button"
    "avatar job job add-button";
  grid-template-columns: 150px fit-content(100%) 42px minmax(180px, 1fr);
}

@media (max-width: 918px) {
  .profile {
    grid-template-areas:
      "avatar fio edit-button"
      "avatar job job"
      "add-button add-button add-button";
    grid-template-columns: 150px fit-content(100%) 42px;
    justify-content: center;
  }
}

@media (max-width: 619px) {
  .profile {
    grid-template-areas:
      "avatar avatar"
      "fio edit-button"
      "job job"
      "add-button add-button";
    grid-template-columns: fit-content(80%) fit-content(50%);
  }
}

@media (max-width: 320px) {
  .profile {
    padding-top: 42px;
  }
}
