.form__input-error {
  opacity: 0;
  display: block;
  margin: 5px 0 0;
  padding: 0;
  min-height: 30px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 400;
  color: #f00;
}
