.profile__subtitle {
  grid-area: job;
  justify-self: start;
  align-self: start;
  margin: 0;
  padding: 7px 0 0;
  max-width: 100%;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 619px) {
  .profile__subtitle {
    font-size: 14px;
    justify-self: center;
  }
}
