.profile__title {
  grid-area: fio;
  justify-self: start;
  align-self: end;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
}

@media (max-width: 619px) {
  .profile__title {
    justify-self: end;
    align-self: start;
    padding-left: 27px;
    font-size: 27px;
    line-height: 1.21;
  }
}
