.profile-block {
  display: grid;
  grid-template-areas:
    "avatar fio edit-button"
    "avatar job job";
}

@media (max-width: 619px) {
  .profile-block {
    grid-template-areas:
      "avatar avatar"
      "fio edit-button"
      "job job";
    justify-content: center;
    align-content: center;
    padding-bottom: 33px;
  }
}
